.lang span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.lang {
  display: flex;
  column-gap: 0.5em;
  color: white;
}

.selected-lang {
  font-weight: bold;
}

.error {
  height: 1em;
  color: red;
  
}